<div id="mainWrapper" class="wrapper">
    {{partial "theme/setup-header"}}
    {{side-bar}}
    <!-- Content Wrapper. Contains page content -->
    <div id="contenWrapper" class="content-wrapper" style="min-height: 1068px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Billing & Payments
            </h1>
            {{partial "theme/main-breadcrumb"}}
        </section>
        <!-- Main content -->
        <section class="content">
            {{outlet}}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {{partial "theme/main-footer"}}
</div>
